# Environments
.env
.env.local

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Data & DBs
ticket_db.sqlite
rag/vectorstore/
data/
*.csv
*.jsonl

# Testing & Logs
.pytest_cache/
.coverage
htmlcov/
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
