fastapi
uvicorn
langchain
langgraph
langchain-community
langchain-groq
chromadb
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
sqlalchemy
streamlit
celery
redis
faker
sentence-transformers
langchain-huggingface
pgvector
psycopg[binary,pool]
langgraph-checkpoint-postgres
langchain-postgres
